app/target
app/samples
.DS_Store
app/parakeet-coreml
.claude
app/.build
parakeet-tdt-0.6b-v3-coreml
app/parakeet-tdt-0.6b-v3-coreml
app/parakeet-tdt-0.6b-v2-coreml
app/VoicySwift/.build
app/parakeet-test
app/Voicy.app
app/Voicy-Installer.dmg
app/dist/*

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/web/node_modules
/web/.pnp
/web.pnp.js

# testing
/coverage

# next.js
/web/.next/
/web/out/

# production
/web/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
target/*